<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="NetworkListenerSection" type="SunGard.AvantGard.Solution.Ban.NetworkListener.Configuration.NetworkListenerSection,SunGard.AvantGard.Solution.Ban.NetworkListener"/>
  </configSections>
  <NetworkListenerSection>
    <terminate ip="10.229.12.251" port="9527"/>
    <environment readTimeout="60" writeTimeout="60" encoding="utf-8"/>
    <receipt positive="0" negative="1" invalid="2"/>
  </NetworkListenerSection>
</configuration>