<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="BankSection" type="SunGard.AvantGard.Solution.Ban.BizBase.BankSection,SunGard.AvantGard.Solution.Ban.BizBase"/>
  </configSections>
  <BankSection>
    <Bank bankCode="02" bankName="工商银行" client="10.229.252.196">
      <Trans transCode="1022" transName="到帐通知">
        <Response prefix="BankAccountNotification" multiTag="">
          <var desc="企业流水号" tag="Ref" name="refID" type=""/>
          <var desc="银行流水号" tag="DetailNo" name="bankRefID" type="icbctimestamp"/>
          <var desc="交易日期" tag="BusiDate" name="transDate" type=""/>
          <var desc="交易时间" tag="BusiTime" name="transTime" type=""/>
          <var desc="帐号" tag="AccNo" name="acctNo" type="" />
          <var desc="户名" tag="ActName" name="acctName" type=""/>
          <var desc="币种" tag="CurrType" name="currType" type="icbccode2cur"/>
          <var desc="交易金额" tag="Amount" name="amount" type="icbcamount[Drcrf]"/>
          <var desc="余额" tag="" name="balance" type="ifemptythen[0]"/>
          <var desc="对方账号" tag="RecipAccNo" name="cptyAcctNo" type=""/>
          <var desc="对方账户名" tag="RecipName" name="cptyAcctName" type=""/>
          <var desc="对方银行名" tag="RecipBkName" name="cptyBankName" type=""/>
          <var desc="附言" tag="Summary" name="remark" type=""/>
          <var desc="摘要" tag="BusCode" name="abstract" type=""/>
        </Response>
      </Trans>
    </Bank>
    <Bank bankCode="03" bankName="中国银行" client="10.229.252.197">
      <Trans transCode="1022" transName="到帐通知">
        <Response prefix="BankAccountNotification" multiTag="rd">
          <var desc="企业流水号" tag="outref" name="refID" type=""/>
          <var desc="银行流水号" tag="transid" name="bankRefID" type=""/>
          <var desc="交易日期" tag="txndate" name="transDate" type=""/>
          <var desc="交易时间" tag="txntime" name="transTime" type="removechar[:]"/>
          <var desc="帐号" tag="actacn" name="acctNo" type="" />
          <var desc="户名" tag="actname" name="acctName" type=""/>
          <var desc="币种" tag="trncur" name="currType" type=""/>
          <var desc="交易金额" tag="txnamt" name="amount" type=""/>
          <var desc="余额" tag="acctbal" name="balance" type=""/>
          <var desc="对方账号" tag="transact" name="cptyAcctNo" type=""/>
          <var desc="对方账户名" tag="transname" name="cptyAcctName" type=""/>
          <var desc="对方银行名" tag="transbank" name="cptyBankName" type=""/>
          <var desc="附言" tag="furinfo" name="remark" type=""/>
          <var desc="摘要" tag="bustype" name="abstract" type=""/>
        </Response>
      </Trans>
    </Bank>
    <Bank bankCode="05" bankName="农业银行" client="10.229.252.194">
      <Trans transCode="1022" transName="到帐通知">
        <Response prefix="BankAccountNotification" multiTag="">          
          <var desc="企业流水号" tag="CMF流水号" name="refID" type=""/>
          <var desc="银行流水号" tag="交易时间戳" name="bankRefID" type=""/>
          <var desc="交易日期" tag="交易日期" name="transDate" type=""/>
          <var desc="交易时间" tag="交易时间戳" name="transTime" type="timeFromTimeStamp"/>
          <var desc="帐号" tag="账号" name="acctNo" type="" />
          <var desc="户名" tag="" name="acctName" type=""/>
          <var desc="币种" tag="货币号" name="currType" type="abccode2cur"/>
          <var desc="交易金额" tag="交易金额" name="amount" type=""/>
          <var desc="余额" tag="余额" name="balance" type=""/>
          <var desc="对方账号" tag="对方账号" name="cptyAcctNo" type=""/>
          <var desc="对方账户名" tag="对方账号户名" name="cptyAcctName" type=""/>
          <var desc="对方银行名" tag="对方账号开户行" name="cptyBankName" type=""/>
          <var desc="附言" tag="附言" name="remark" type=""/>
          <var desc="摘要" tag="摘要" name="abstract" type=""/>
        </Response>
      </Trans>
    </Bank>
    <Bank bankCode="06" bankName="交通银行" client="10.229.252.195">
      <Trans transCode="1022" transName="到帐通知">
        <Response prefix="BankAccountNotification" multiTag="notice_text">
          <var desc="企业流水号" tag="流水号" name="refID" type=""/>
          <var desc="银行流水号" tag="流水号" name="bankRefID" type="StringConcat[会计日期|流水号|流水序号]"/>
          <var desc="交易日期" tag="会计日期" name="transDate" type=""/>
          <var desc="交易时间" tag="交易时间" name="transTime" type=""/>
          <var desc="帐号" tag="账号" name="acctNo" type="" />
          <var desc="户名" tag="户名" name="acctName" type=""/>
          <var desc="币种" tag="币种" name="currType" type=""/>
          <var desc="交易金额" tag="金额" name="amount" type="bcomamount[收支标志]"/>
          <var desc="余额" tag="余额" name="balance" type=""/>
          <var desc="对方账号" tag="对方账号" name="cptyAcctNo" type=""/>
          <var desc="对方账户名" tag="对方户名" name="cptyAcctName" type=""/>
          <var desc="对方银行名" tag="对方行名" name="cptyBankName" type=""/>
          <var desc="附言" tag="附言" name="remark" type=""/>
          <var desc="摘要" tag="交易代码" name="abstract" type=""/>
        </Response>
      </Trans>
    </Bank>
  </BankSection>
</configuration>