<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="taskControlSection" type="SunGard.AvantGard.TaskSchedulerControl.TaskControlSection,SunGard.AvantGard.TaskSchedulerControl"/>
  </configSections>
  <taskControlSection>
    <control bankCode="03" taskName="GenerateInstruction03"/>
  </taskControlSection>
</configuration>