<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RfcFunctionSection" type="SunGard.AvantGard.Solution.Ban.RfcInterface.RfcFunctionSection,SunGard.AvantGard.Solution.Ban.RfcInterface"/>
  </configSections>
  <RfcFunctionSection>
    <Function name="ZRFC_FSSC_AR_ACCOUNT">
      <Header structName="IM_HEADER">
        <var desc="银行代码" rfcData="BANKCODE" tag="bankCode"/>
        <var desc="交易代码" rfcData="TRANSCODE" tag="transCode"/>
        <var desc="生成日期" rfcData="TRANSDATE" tag="transDate"/>
        <var desc="生成时间" rfcData="TRANSTIME" tag="transTime"/>
        <var desc="文件流水号" rfcData="REFID" tag="refID"/>
      </Header>
      <Body structName="ZSAR0001_ITEM" tableName="IT_ITEM">
        <var desc="企业流水号" rfcData="REFID" tag="refID"/>
        <var desc="银行流水号" rfcData="BANKREFID" tag="bankRefID"/>
        <var desc="交易日期" rfcData="TRANSDATE" tag="transDate"/>
        <var desc="交易时间" rfcData="TRANSTIME" tag="transTime"/>
        <var desc="帐号" rfcData="ACCTNO" tag="acctNo"/>
        <var desc="户名" rfcData="ACCTNAME" tag="acctName"/>
        <var desc="交易币种" rfcData="CURRTYPE" tag="currType"/>
        <var desc="交易金额" rfcData="AMOUNT" tag="amount"/>
        <var desc="余额" rfcData="BALANCE" tag="balance"/>
        <var desc="对方账号" rfcData="CPTYACCTNO" tag="cptyAcctNo"/>
        <var desc="对方户名" rfcData="CPTYACCTNAME" tag="cptyAcctName"/>
        <var desc="对方行名" rfcData="CPTYBANKNAME" tag="cptyBankName"/>
        <var desc="附言" rfcData="REMARK" tag="remark"/>
        <var desc="摘要" rfcData="ABSTRACT" tag="abstract"/>
      </Body>
      <Return code="EX_FLAG" message="EX_MESSAGE"/>
    </Function>
    <System interval="60" rfctimeout="30"/>
  </RfcFunctionSection>
</configuration>