<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AbcFieldSection" type="SunGard.AvantGard.Solution.BankAccountNotification.ABC.AbcFieldSection,SunGard.AvantGard.Solution.BankAccountNotification.ABC"/>
  </configSections>
  <AbcFieldSection>
    <field name="报文长度" start="1" end="6" />
    <field name="MSQS" start="7" end="10" />
    <field name="省市代码" start="11" end="12" />
    <field name="账号" start="13" end="47" />
    <field name="货币号" start="48" end="49" />
    <field name="账簿号" start="50" end="61" />
    <field name="交易日期" start="62" end="69" />
    <field name="日志号" start="70" end="78" />
    <field name="集团通知标志" start="79" end="79" />
    <field name="集团总公司客户号" start="80" end="95" />
    <field name="现金管理类标志" start="96" end="96" />
    <field name="到账通知标志" start="97" end="97" />
    <field name="通知方式" start="98" end="107" />
    <field name="移动电话" start="108" end="122" />
    <field name="传真号码" start="123" end="137" />
    <field name="EMAIL地址" start="138" end="177" />
    <field name="联网通知" start="178" end="217" />
    <field name="电话(其他通知)" start="218" end="257" />
    <field name="小灵通" start="258" end="272" />
    <field name="下载标志" start="273" end="273" />
    <field name="交易类别" start="274" end="274" />
    <field name="交易来源" start="275" end="278" />
    <field name="交易行行号" start="279" end="284" />
    <field name="CMF流水号" start="285" end="296" />
    <field name="CMC流水号" start="297" end="308" />
    <field name="发生额标志" start="309" end="309" />
    <field name="对方账号省市代码" start="310" end="311" />
    <field name="对方账号" start="312" end="346" />
    <field name="对方账号货币码" start="347" end="348" />
    <field name="对方账号户名" start="349" end="418" />
    <field name="对方账号开户行" start="419" end="488" />
    <field name="上下级账号标志" start="489" end="489" />
    <field name="上/下级账号省市代" start="490" end="491" />
    <field name="上/下级账号" start="492" end="526" />
    <field name="上/下级账号货币码" start="527" end="528" />
    <field name="上/下级账号户名" start="529" end="598" />
    <field name="现转标志" start="599" end="599" />
    <field name="错账日期" start="600" end="607" />
    <field name="错账传票号" start="608" end="615" />
    <field name="交易金额" start="616" end="633" />
    <field name="余额" start="634" end="651" />
    <field name="上笔金额" start="652" end="669" />
    <field name="手续费总额" start="670" end="687" />
    <field name="分成手续费" start="688" end="705" />
    <field name="凭证种类" start="706" end="710" />
    <field name="凭证省/市代号" start="711" end="712" />
    <field name="凭证批次号" start="713" end="714" />
    <field name="凭证号码" start="715" end="723" />
    <field name="户名" start="724" end="793" />
    <field name="账页输出标志" start="794" end="794" />
    <field name="电子对账单输出标志" start="795" end="795" />
    <field name="客户参考号" start="796" end="865" />
    <field name="交易码" start="866" end="869" />
    <field name="柜员号" start="870" end="875" />
    <field name="传票号" start="876" end="883" />
    <field name="账簿名" start="884" end="953" />
    <field name="摘要" start="954" end="957" />
    <field name="附言" start="958" end="1027" />
    <field name="账户开户行名" start="1028" end="1097" />
    <field name="交易时间戳" start="1098" end="1123" />
  </AbcFieldSection>
</configuration>